{
    "jsc": {
      "parser": {
        "syntax": "typescript",
        "decorators": true
      },
      "baseUrl": "./src",
      "paths": {
        "#seedwork/*": ["./@seedwork/*"],
        "#pet/*": ["./pet/*"],
        "#access/*": ["./access/*"],
        "#user/*": ["./user/*"]
      }
    }
  }